@import '~font-awesome/css/font-awesome.css';
@import url('https://fonts.googleapis.com/css?family=PT+Serif');
@import url('https://fonts.googleapis.com/css?family=Dosis');

/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'PT Serif', sans-serif;
}

body {
    margin: 0;
}

.inner {
    padding-left: 20px;
    padding-right: 20px;
}

.card {
    padding: 20px;
    box-shadow: 0 1px 10px rgba(0,0,0,0.15);
}

button {
    background-color: rgba(249,191,59, 1);
    border-style: none;
    font-size: 1em;
    border: 4px solid rgba(255,187,59, 1);
    box-shadow: 0 1px 10px rgba(0,0,0,0.15);
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
}